@model WikY.Models.Article
@{
    ViewBag.Title = "WikY - Suppression " +Model.Theme;
}

<h3 class="text-danger">
    Vous êtes sur le point de supprimer l'article, êtes vous sur de vouloir continuer ?
</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <input type="submit" value="Oui" class="btn btn-danger" />
    @Html.ActionLink("Non", "GetArticles", "Article", null, new { @class = "btn btn-primary" })
}


