@model IEnumerable<WikY.Models.Commentaire>

<ul class="list-group">
    @foreach (var commentaire in Model)
    {
        <li class="list-group-item">
            <div class="card">
                <div class="card-header">
                    @commentaire.Auteur
                </div>
                <div class="card-body">
                    @commentaire.Contenu
                    <p class="font-weight-light">@commentaire.DateCreation</p>
                    @Html.ActionLink("Supprimer", "Delete", "Commentaires", new { id = commentaire.Id }, new { @class = "btn btn-danger" })
                </div>
            </div>
        </li>
    }
</ul>

